{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <br />
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for cat in categories %}
            <tr>
                <td>{{ cat.Titre }}</td>
                <td>{{ cat.Description }}</td>
                <td>
                    <a href="{{ path('categorie_modifier', { 'id':cat.id }) }}" class="btn btn-primary">
                        <i class="far fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('categorie_ajouter') }}" class="btn btn-primary">Ajouter une catégorie</a>
{% endblock %}
